@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12 d-flex flex-column justify-content-center align-items-center bg-white text-black p-5 position-relative min-vh-100">
    <div class="text-overlay text-center">
        <p>BIENVENIDO</p>
        <h2>INICIO SIBILA</h2>
    </div>
    <img src="~/images/yael-gonzalez-oV6RSDQlq8Q-unsplash.jpg" class="img-fluid max-h-100" alt="Paisaje hermoso">
</div>
